.clearfix, nav.little-topbar, nav.little-topbar ul {
  zoom: 1; }
  .clearfix:before, nav.little-topbar:before, nav.little-topbar ul:before, .clearfix:after, nav.little-topbar:after, nav.little-topbar ul:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, nav.little-topbar:after, nav.little-topbar ul:after {
    clear: both; }

nav.little-topbar, nav.little-topbar * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

nav.little-topbar {
  width: 100%;
  border-bottom: none;
  padding-left: 10px;
  padding-right: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2); }
  nav.little-topbar .little-topbar-container {
    max-width: 1020px;
    margin: 0 auto; }
  nav.little-topbar div.logo {
    float: left;
    height: 50px;
    width: 240px; }
    nav.little-topbar div.logo h1 a, nav.little-topbar div.logo h1 a:visited {
      height: 50px;
      line-height: 50px;
      text-decoration: none;
      font-weight: bold;
      padding: 0;
      background-image: url(../img/little_topbar_logo_1x.png);
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 220px 50px;
      text-indent: 120%;
      display: block;
      overflow: hidden; }
  nav.little-topbar ul {
    position: relative;
    display: block;
    float: left;
    height: 50px;
    width: auto;
    background: #fff; }
    nav.little-topbar ul > li.expand, nav.little-topbar ul > li.collapse {
      display: none; }
    nav.little-topbar ul > li {
      position: relative;
      display: block;
      float: left; }
      nav.little-topbar ul > li > a {
        display: block;
        padding: 0 15px;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 50px;
        color: #333;
        text-decoration: none;
        -webkit-transition: color 300ms ease-in, border-top-color 300ms ease-in;
        -ms-transition: color 300ms ease-in, border-top-color 300ms ease-in;
        -moz-transition: color 300ms ease-in, border-top-color 300ms ease-in;
        -o-transition: color 300ms ease-in, border-top-color 300ms ease-in;
        transition: color 300ms ease-in, border-top-color 300ms ease-in; }
      nav.little-topbar ul > li:hover a {
        color: #f26522;
        border-top-color: #f26522;
        background-color: #f2f2f2; }
      nav.little-topbar ul > li.has-dropdown > a {
        padding-right: 35px; }
        nav.little-topbar ul > li.has-dropdown > a::after {
          position: absolute;
          right: 15px;
          top: 22.5px;
          display: block;
          content: "";
          height: 0;
          width: 0;
          border: 5px solid transparent;
          border-top-color: inherit; }
      nav.little-topbar ul > li.has-dropdown > ul {
        position: absolute;
        display: block;
        top: 50px;
        left: -9999px;
        opacity: 0;
        cursor: pointer;
        background: #fff;
        -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: opacity 300ms ease-in;
        -ms-transition: opacity 300ms ease-in;
        -moz-transition: opacity 300ms ease-in;
        -o-transition: opacity 300ms ease-in;
        transition: opacity 300ms ease-in; }
        nav.little-topbar ul > li.has-dropdown > ul li {
          display: block;
          position: absolute;
          height: 0;
          -webkit-transition: height 150ms ease-in;
          -ms-transition: height 150ms ease-in;
          -moz-transition: height 150ms ease-in;
          -o-transition: height 150ms ease-in;
          transition: height 150ms ease-in; }
      nav.little-topbar ul > li.has-dropdown:hover > ul {
        left: 0;
        opacity: 1;
        border: none;
        height: auto; }
        nav.little-topbar ul > li.has-dropdown:hover > ul > li {
          position: relative;
          height: auto; }
          nav.little-topbar ul > li.has-dropdown:hover > ul > li a {
            /* Layout */
            display: block;
            padding: 15px 20px;
            width: 180px;
            /* Typography */
            font-family: sans-serif;
            font-size: 14px;
            line-height: 1.2;
            text-decoration: none;
            color: #333;
            font-weight: normal;
            /* Background & effects */
            background-color: #fff;
            -webkit-transition: color 300ms ease-in, border-left-color 300ms ease-in;
            -ms-transition: color 300ms ease-in, border-left-color 300ms ease-in;
            -moz-transition: color 300ms ease-in, border-left-color 300ms ease-in;
            -o-transition: color 300ms ease-in, border-left-color 300ms ease-in;
            transition: color 300ms ease-in, border-left-color 300ms ease-in; }
            nav.little-topbar ul > li.has-dropdown:hover > ul > li a:hover, nav.little-topbar ul > li.has-dropdown:hover > ul > li a:active {
              color: #f26522;
              background-color: #f2f2f2; }
