// Little Topbar
// A tiny responsive navigation library

// Topbar settings
$topbar-height: 60px;
$topbar-width: 100%;
$topbar-inner-width: 1020px;
$topbar-padding: 10px;
$topbar-menu-float: right;
$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;
$topbar-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

// Border Variables
$topbar-outter-border-width: 0px;
$topbar-outter-border-color: none;
$topbar-inner-border-width: 1px;
$topbar-inner-border-color: #eee;
$topbar-submenu-inner-border-width: $topbar-inner-border-width;
$topbar-submenu-inner-border-color: $topbar-inner-border-color;

// Topbar logo settings
$topbar-logo-height: 50px;
$topbar-logo-width: 220px;
$topbar-logo-padding-right: 20px;
$topbar-logo-image-standard: url(../img/little_topbar_logo_1x.png);
$topbar-logo-image-retina:   url(../img/little_topbar_logo_2x.png);

// Topbar anchors settings
$topbar-anchor-font-family: sans-serif;
$topbar-anchor-font-size: 14px;
$topbar-anchor-font-weight: normal;
$topbar-anchor-padding-horizontal: 15px;
$topbar-dropdown-caret-size: 5px; // 4px - 10px, don't go crazy here
$topbar-dropdown-anchor-font-size: $topbar-anchor-font-size;
$topbar-dropdown-anchor-padding-horizontal: 20px;
$topbar-dropdown-anchor-padding-vertical: 15px;

// Topbar anchor colors
$topbar-anchor-font-color: #333;
$topbar-anchor-hover-font-color: #f26522;
$topbar-anchor-hover-bg-color: darken($topbar-bg-color, 5%);
$topbar-anchor-active-font-color: #f26522;
$topbar-anchor-active-bg-color: darken($topbar-bg-color, 8%);
$topbar-anchor-active-hover-font-color: lighten(#f26522, 5%);
$topbar-anchor-active-hover-bg-color: darken($topbar-bg-color, 12%);

// Toggle settings
$little-toggle-color: #333;
$little-toggle-color-active: #fff;
$little-toggle-dark-screen-color: rgba(#000, .8);
$little-toggle-text-size: 12px;
$little-toggle-icon-size: 18px;
$little-toggle-icon-spacing: 10px;

// Animation Settings
$topbar-effect-speed: 300ms;

// Responsive Settings
$responsive_breakpoint: 840px;
$topbar-mobile-width: 280px;

// Import Icons
@import 'icons';

// Clearfix
.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

// Reset
nav.little-topbar,
nav.little-topbar * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

nav.little-topbar {
	width: $topbar-width;
	border-bottom-color: $topbar-outter-border-color;
	border-bottom-width: $topbar-outter-border-width;
	border-bottom-style: solid;
	@extend .clearfix;
	
	padding-left: $topbar-padding;
	padding-right: $topbar-padding;
	background: $topbar-bg;

	// topbar shadow
	-webkit-box-shadow: $topbar-shadow;
	-moz-box-shadow:    $topbar-shadow;
	box-shadow:         $topbar-shadow;

	.little-topbar-container {
		max-width: $topbar-inner-width;
		margin: 0 auto;
	}

	div.logo {
		float: left;
		height: $topbar-height;
		width: $topbar-logo-width + $topbar-logo-padding-right;

		h1 a,
		h1 a:visited {
			height: $topbar-height;
			line-height: $topbar-height;
			text-decoration: none;
			font-weight: bold;
			padding: 0;

			// Logo Image
			background-image: $topbar-logo-image-standard;
			background-position: left center;
			background-repeat: no-repeat;
			background-size: $topbar-logo-width $topbar-logo-height;

			// Image Replacement
			text-indent: 120%;
			display: block;
			overflow: hidden;
		}
	}

	// Topbar Defaults
	ul {
		position: relative;
		display: block;
		float: $topbar-menu-float;
		height: $topbar-height;
		width: auto;
		background: $topbar-bg;
		@extend .clearfix;

		// Menu Items
		> li {
			position: relative;
			display: block;
			float: left;

			> a {
				display: block;
				padding: 0 $topbar-anchor-padding-horizontal;
				font-family: $topbar-anchor-font-family;
				font-size: $topbar-anchor-font-size;
				font-weight: $topbar-anchor-font-weight;
				line-height: $topbar-height;
				color: $topbar-anchor-font-color;
				text-decoration: none;
				
				// Dividers between 
				border-left-width: $topbar-inner-border-width;
				border-right-width: $topbar-inner-border-width;
				border-left-style: solid;
				border-right-style: solid;
				border-left-color: $topbar-inner-border-color;
				border-right-color: $topbar-inner-border-color;
				margin-right: -$topbar-inner-border-width;


				// CSS Transitions
				// Transitions
				-webkit-transition: color $topbar-effect-speed ease-in, border-top-color $topbar-effect-speed ease-in;
				-ms-transition: color $topbar-effect-speed ease-in, border-top-color $topbar-effect-speed ease-in;
				-moz-transition: color $topbar-effect-speed ease-in, border-top-color $topbar-effect-speed ease-in;
				-o-transition: color $topbar-effect-speed ease-in, border-top-color $topbar-effect-speed ease-in;
				transition: color $topbar-effect-speed ease-in, border-top-color $topbar-effect-speed ease-in;
			}

			&:hover {
				a {
					color: $topbar-anchor-hover-font-color;
					border-top-color: $topbar-anchor-hover-font-color;
					background-color: $topbar-anchor-hover-bg-color;
				}
			}

			&.has-dropdown {
				>a {
					padding-right: ($topbar-dropdown-caret-size * 7); // Space for down arrow

					&::after {
						// Down arrow the css-tricks way
						position: absolute;
						right: ($topbar-dropdown-caret-size * 2) + 5;
						top: (($topbar-height / 2) - $topbar-dropdown-caret-size + ($topbar-dropdown-caret-size / 2));
						display: block;
						content: ""; 
						height: 0;
						width: 0;
						border: $topbar-dropdown-caret-size solid transparent;
						border-top-color: inherit;
					}
				}

				>ul {
					position: absolute;
					display: block;
					float: left;
					top: $topbar-height;
					left: -9999px;
					opacity: 0;
					cursor: pointer;
					background: $topbar-bg-color;

					// subpage shadow
					-webkit-box-shadow: $topbar-shadow;
					-moz-box-shadow:    $topbar-shadow;
					box-shadow:         $topbar-shadow;
					
					-webkit-transition: opacity $topbar-effect-speed ease-in;
					-ms-transition: opacity $topbar-effect-speed ease-in;
					-moz-transition: opacity $topbar-effect-speed ease-in;
					-o-transition: opacity $topbar-effect-speed ease-in;
					transition: opacity $topbar-effect-speed ease-in;

					li {
						display: block;
						position: absolute;
						height: 0;

						-webkit-transition: height ($topbar-effect-speed/2) ease-in;
						-ms-transition: height ($topbar-effect-speed/2) ease-in;
						-moz-transition: height ($topbar-effect-speed/2) ease-in;
						-o-transition: height ($topbar-effect-speed/2) ease-in;
						transition: height ($topbar-effect-speed/2) ease-in;

					}
				}

				&:hover > ul {
					left: 0;
					opacity: 1;
					border: 1px solid $topbar-outter-border-color;
					height: auto;

					> li {
						position: relative;
						height: auto; 

						a {
							/* Layout */
							display: block;
							padding: $topbar-dropdown-anchor-padding-vertical $topbar-dropdown-anchor-padding-horizontal;
							width: 180px;

							/* Typography */
							font-family: $topbar-anchor-font-family;
							font-size: $topbar-dropdown-anchor-font-size;
							line-height: 1.2;
							text-decoration: none;
							color: $topbar-anchor-font-color;
							font-weight: $topbar-anchor-font-weight;
							
							/* Background & effects */
							background-color: $topbar-bg-color;

							// Vertical dividers
							border-top-width: $topbar-inner-border-width;
							border-top-style: solid;
							border-top-color: $topbar-inner-border-color;

							-webkit-transition: color $topbar-effect-speed ease-in, border-left-color $topbar-effect-speed ease-in;
							-ms-transition: color $topbar-effect-speed ease-in, border-left-color $topbar-effect-speed ease-in;
							-moz-transition: color $topbar-effect-speed ease-in, border-left-color $topbar-effect-speed ease-in;
							-o-transition: color $topbar-effect-speed ease-in, border-left-color $topbar-effect-speed ease-in;
							transition: color $topbar-effect-speed ease-in, border-left-color $topbar-effect-speed ease-in;

							&:hover,
							&:active {
								color: $topbar-anchor-hover-font-color;
								background-color: $topbar-anchor-hover-bg-color;
							}
						}
					}
				}
			}

			&.active {
				// Current menu
				> a {
					color: $topbar-anchor-active-font-color;
					background-color: $topbar-anchor-active-bg-color;
				}

				> a:hover,
				> a:active {
					color: $topbar-anchor-active-hover-font-color;
					background-color: $topbar-anchor-active-hover-bg-color;
				}
			}
		}

	}

	.little-toggle {
		a.expand,
		a.collapse {
			display: none;
		}
	}

}

// Modernizr hover resets
html.touch {

	nav.little-topbar {
		
		ul > li > a:hover {
			color: $topbar-anchor-font-color;
			background-color: $topbar-bg-color;
		}

		ul > li.active > a:hover {
			color: $topbar-anchor-active-font-color;
			background-color: $topbar-anchor-active-bg-color;
		}
		
	}

}

// Retina display media query
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

 	// Retina display logo
 	nav.little-topbar div.logo h1 a,
 	nav.little-topbar div.logo h1 a:visited {
 		background-image: $topbar-logo-image-retina;
 	}

 }

 @media screen and (max-width: $responsive_breakpoint) {
 	nav.little-topbar {
 		max-width:  $responsive_breakpoint;

 		ul {
 			display: none;
 			opacity: 0;

			// Fadein
			-webkit-transition: opacity $topbar-effect-speed ease-in;
			-ms-transition: opacity $topbar-effect-speed ease-in;
			-moz-transition: opacity $topbar-effect-speed ease-in;
			-o-transition: opacity $topbar-effect-speed ease-in;
			transition: opacity $topbar-effect-speed ease-in;
		}
		// Show / Hide Elements
		div.little-toggle {
			a.expand,
			a.collapse {
				display: block;
				float: right;
				line-height: $topbar-height;
				text-decoration: none;
				color: $little-toggle-color;

				// By Default these are text links
				font-family: $topbar-anchor-font-family;
				font-size: $little-toggle-text-size;
				font-weight: bold;

				span.little-icon {
					font-family: 'littletopbar';
					font-size: $little-toggle-icon-size;
					padding: 0 $little-toggle-icon-spacing;
				}
			}
			a.expand {
				display: block; // expand button displayed by default
				opacity: 1;
			}

			a.collapse {
				display: none; // collapse button hidden by default
				opacity: 0;
				color: $little-toggle-color-active;
			}
		}

		&.expanded {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			background: $little-toggle-dark-screen-color;
			overflow: scroll;
			
			div.logo {
				opacity: .35;
			}

			div.menu-container {
				position: fixed;
				top: $topbar-height + 20px;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
			}

			ul {
				display: block;
				float: none;
				opacity: 1;
				background-color: $topbar-bg-color;
				width: $topbar-mobile-width;
				height: auto;
				margin: 0 auto;
				@extend .clearfix;

				li {
					display: block;
					float: none;
					width: 100%;
				}

				li:last-child {
					// Vertical dividers additional
					border-bottom-width: $topbar-inner-border-width;
					border-bottom-style: solid;
					border-bottom-color: $topbar-inner-border-color;
				}
			}

			div.little-toggle {
				a.collapse {
					display: block;
					opacity: 1;
				}

				a.expand {
					display: none;
					opacity: 0;
				}
			}

		}

	}
}


